body {
  background-color: white;
}
/*.box2, .box3, .box5, .box6, .box7, .box9, .box10, .box11, .box13, .box14, .box15, .box17 {
  background: #d8d9db;
  padding: 1px 5px;
  color: black;
  text-align: center;
}

.box1 {
  background: black;
  color: white;
  padding: 1px 5px;
  width: 400px;
  text-align: right;
}

.box4, .box8, .box12, .box16, .box18 {
  background:  #fdad5c;
  color: white;
  text-align: center;
}

.box2 {
  flex-grow: 3;
}

.box3 {
  flex-grow: 1;
}

.box4 {
  flex-grow: 1;
}
*/

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  
}

.box {
  font-size: 50px;
  border: 1px solid black;
  flex: 1 0 auto;
}

.row {
  display: flex;
}

.number-button {
  background: #d8d9db;
  padding: 1px 5px;
  color: black;
  text-align: center;
  flex: auto;
}

#output {
  background: black;
  color: white;
  padding: 1px 5px;
  text-align: right;
  flex: 1;
}

#clear {
 flex: 0 0 200px;
 padding: 1px 5px;
}

#zero {
 flex: 0 0 300px;
 padding: 1px 5px;
}

.operator {
  background:  #fdad5c;
  color: white;
  text-align: center;
  flex: 0 0 100px;
}
